Source: falcond
Section: admin
Priority: optional
Maintainer: ferreo <ferreo@pika-os.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13), zig-nightly, git
Standards-Version: 4.6.1
Homepage: https://pika-os.com

Package: falcond
Architecture: amd64
Depends: ${misc:Depends},
         ${shlibs:Depends},
         power-profiles-daemon | tuned-ppd,
         scx
Provides: falcond
Description: Accelerate your gaming experience with falcond, auto setting scx, vcache and choosing performance profiles
